start on filesystem or runlevel [2345]
stop on shutdown

console output

env port={{ thumbor_ports | join(',') }}

pre-start script
    [ -r /etc/default/thumbor ] && . /etc/default/thumbor
    if [ "$enabled" = "0" ] && [ "$force" != "1" ] ; then
        logger -is -t "$UPSTART_JOB" "Thumbor is disabled by /etc/default/thumbor, add force=1 to your service command"
        stop
        exit 0
    fi
    for p in `echo ${port} | tr ',' ' '`; do
        start thumbor-worker p=$p
    done
end script
